
  body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: gray  ;
    color: #111;
  }

  .container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
  }

  header {
    text-align: center;
  }

  .logo {
    width: 100px;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 28px;
    letter-spacing: 2px;
  }

  .main-image img {
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
  }

  .gallery {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
  }

  .gallery img {
    width: 32%;
    border-radius: 10px;
    object-fit: cover;
    height: 180px;
  }

  .description p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
  }

  /* ✅ Mobil versiya uchun */
  @media (max-width: 768px) {
    h1 {
      font-size: 22px;
    }

    .gallery {
      flex-direction: column;
    }

    .gallery img {
      width: 100%;
      height: auto;
    }

    .description p {
      font-size: 14px;
    }

    .container {
      padding: 10px;
    }

    .logo {
      width: 80px;
    }
  }